@import "reset";
@import "variables";
@import "mixins";

/* Landing Styles */
.landing-banner{
	height: 100vh;
	background-image:url(../images/Photo_Credit_Don_Hankins_CC_by_2.5.jpg);
	background-size: cover;
	background-position: right bottom;
	display:none; /*flex;*/
	justify-content:center;
	align-items:center;
	width:100%;
	border-radius: 0 0 15px 15px;
}

.intro-text{
	text-align: center;
    max-width: 90%;
    box-sizing: border-box;
    font-weight: 600;
    border: rgba(211, 211, 211, 0.35) 4px solid;
    border-radius: 15px;
    background-color: rgba(68, 68, 68, 0.8);
    font-family: 'Montserrat', 'helvetica';
    margin-bottom: 0;
    padding: 1em .5em;
    font-size: 1.5em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#down-arrow{
  color: white;
  width: 16vw;
  height: 16vw;
  line-height: 16vw;
  background: rgba(68, 68, 68, 0.8);
  text-align: center;
  position: absolute;
  font-weight: 400;
  border: rgba(211, 211, 211, 0.35) 4px solid;
  border-radius: 15px;
  font-size: 3em;
  animation: MoveUpDown 3s linear infinite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
  cursor: pointer;
  user-select: none;
  @include mQ(600px, 525px){
  	width: 10.2vw;
  	height: 10.2vw;
  	line-height: 10.2vw;
  }
  @include mQ(800px, 601px){
  	width: 12vw;
  	height: 12vw;
  	line-height: 12vw;
  	font-size: 3em;
  }
   @include mQ_lan(){
  	width: 5vw;
  	height: 5vw;
  	line-height: 5vw;
  	font-size: 2em;
  }
  @include mQ(1000px, 801px){
  	width: 9vw;
  	height: 9vw;
  	line-height: 9vw;
  	font-size: 3em;
  }
  @include mQ(1300px, 1001px){
  	width: 5vw;
  	height: 5vw;
  	line-height: 5vw;
  	font-size: 3em;
  }
}

@keyframes MoveUpDown {
  0% {
    bottom: 14px;
  }
  50% {
    bottom: 23px;
  }
  100% {
    bottom: 14px;
  }
}

/*Overlay Menu Styles*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-shadow: rgba(23,45,67,.7) 2px 2px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    text-shadow: none;
}

.overlay .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 60px;
    padding:0;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(51, 51, 51, 1);
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}

.bar1{
	margin-top: 11px;
}

#hamburger{
	display: none;
	cursor:pointer;
	position:fixed;
	top:5px;
	right:6px;
	transition: .75s;
	height: 50px;
	border: 1px solid black;
    width: 50px;
    background-color: white;
    border-radius: 30px;;
	&:hover [class*="bar"]{
		background-color: rgba(51, 51, 51, .82);
	}
}

/*"About Me" Section Styles*/
.about-me{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 1em 0;
	background: radial-gradient(white 15%, transparent 16%) 0 0, radial-gradient(white 15%, transparent 16%) 8px 8px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 8px 9px;
	background-color: #fff;
	#background-size: 16px 16px;background: radial-gradient(white 15%, transparent 16%) 0 0, radial-gradient(white 15%, transparent 16%) 8px 8px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 8px 9px;
	#background-color: #fff;
	background: radial-gradient(#f2f2f2 12%, #c9c9c900 16%) 0 0, radial-gradient(white 15%, transparent 16%) 8px 8px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(0, 0, 0, 0.1) 15%, transparent 20%) 8px 9px;
	background-color: #f2f2f2;
	background-size: 16px 16px;
	@include mQ(588px){
		flex-wrap: nowrap;
		flex-direction: row;
		font-size: 1em;
	}
	@include mQ(943px){
		justify-content: center;
	}
	@include mQ(1030px){
		box-shadow: inset 0px -16px 42px -33px white, inset 0px 16px 42px -29px white;
		background-image: url(../brainbow2.jpg);
		min-height: 26em;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

#bio-span {
	display: none;
	@include mQ(588px){
		display: inline;
	}
}

.selfie{
	box-sizing: border-box;
	border: gray 3px solid;
	max-width: 50%;
	max-height: 35vh;
	align-self: center;
	order:1;
	margin: 1em 3em;
	border-radius: 100%;
	@include mQ_lan{
		max-height:50vh;
	}
	@include mQ(588px){
		margin-right: 0;
		max-width: 30vw;
		order: -1;
		max-width: 180px;
	}
	@include mQ(1030px){
	       border-radius: 3em;
	       border: black 0.2em solid;
	}
}

.biography{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Montserrat;
    font-size: 1em;
    padding: 0 .5em;
}

#bio-1{
	order: 0;
	margin-top: 1em;
	@include mQ(588px){
		align-self: center;
		margin: 0 1em;
		font-size: 1.1em;
		display: inline;
	}
	@include mQ(943px){
		max-width: 1130px;
		font-size: 1.5em;
	}
	@include mQ(1030px){
		background: rgba(255,255,255,0.85);
		padding: 0.7em 0.7em;
		border-radius: 1em;
		text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px #7d7d7d, -1px -1px 1px white;
		box-shadow: inset 1px 1px 5px 0px black, inset -1px -1px 5px 0px black, 1px 1px 5px 0px black, -1px -1px 5px 0px black;
	}
	@include mQ(1213px){
		font-size: 1.9em;
	}
}

#bio-2{
	order: 2;
	margin-bottom: 1.5em;
	@include mQ(588px){
		display: none;
	}
}

.blog{
	display: none;
	order:3;
	margin: 0 auto 2.15em auto;
	font-family: Montserrat;
    font-size: 1.4em;
    text-align: center;
    a{
    	line-height: 3.5em;
    	padding: .2em 1.1em;
    	border-radius: 15px;
    	border: $orange 3px solid;
    	transition: .3s;
    	text-decoration: none;
    	color: black;
    	&:hover{
    		border: rgba(251, 216, 75, .7) 2px solid;
    		padding: .3em 1.2em;
    		color: rgba(0,0,0,.7);
    		background-color: rgba(10,10,10,.005);
    	}
    }
}

/*Skills Section Styles*/
.skill-section{
	background:
	radial-gradient(white 15%, transparent 16%) 0 0,
	radial-gradient(white 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 8px 9px;
	background-color:#fff;
	background-size:16px 16px;
	padding: 7px 7px 25px 7px;
	border-radius:15px;
	text-align: center;
	@include mQ_land(901px){
		padding: 6em 0;
	}
	@include mQ_lan{
		padding: 4em 0;
	}
}

.skills-text{
	display: inline-block;
	text-align: center;
	font-family: 'Montserrat', 'helvetica';
    font-size: 1.6em;
    margin: 1em auto;
    padding: 7px;
    border: $compLightBlue 3px solid;
	background-color: $lightBlue;
	border-radius: 15px;
}

.skills-list{
	@include clearFix;
	li {
		box-sizing: border-box;
		border: $compLightBlue 3px solid;
		background-color: $lightBlue;
		border-radius: 15px;
		padding: 7px;
		@include clearFix;
		@include grid(3, 2%);
		@include mQ(650px, 400px){
			@include grid(4, 1.75%);
		}
		@include mQ(900px, 651px){
			@include grid(5, 1.5%);
		}
		@include mQ(901px){
			@include grid(6, 1.25%);
		}
		@include mQ_lan{
			@include grid(7, 1.75%);
		}
		@include mQ_land(901px){
			@include grid(7, 1.25%);
		}

		.svg{
			height:100%;
			width:100%;
		}
	}
}

/*Projects Section Styles*/
iframe {
	width: 100%;
	border-width: 0px;
	height: 550px;
	margin-bottom: 1em;
	overflow: hidden;
}

iframe.youtube {
	height: 300px;
	@include mQ(901px) {
		height: 330px;
	}
	@include mQ(1030px) {
		border: rgb(36,36,36) 1px solid;
	}
	@include mQ(1400px) {
		height: 430px;
	}
}

#iframe-alignment {
	@include mQ(1600px) {
		height: 700px;
	}
}

#iframe-jezzball {
	height: 315px;
	@include mQ(901px) {
		height: 390px;
	}
	@include mQ(1200px) {
		height: 500px;
	}
	@include mQ(1600px) {
		height: 600px;
	}
}

#a2c-parent{
	margin-bottom: 3em;
	p{
		display: block;
		margin-bottom: 1.5em !important;
		@include mQ(1150px){
			/*display: inline;*/
			margin-bottom: 0;
		}		
	}
}

#projects{
	padding: 1.5em 1.5em 0 1.5em;
	max-width: 100%;
	font-family: Montserrat;
	h1{
		text-align: center;
		font-weight: normal;
		padding-top: .75em;
		margin-bottom: 0;
	}
	img{
		width:100%;
		max-width: 100%;
		max-height: 75vh;
		margin: 1em 0;
		#border-radius: 25px;
		border: gray 2px solid;
	}
	p{
		margin-bottom: 3em;
		text-align: justify;
		font-size: 1.2em;
	}
	@include mQ(1030px){
                box-shadow: inset 0px 6px 14px -10px white, inset 0px 1px 0px 0px rgba(255,255,255,0.1);
                background: rgba(0,0,0,0.8);
		p{
			color: white;
			text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px #7d7d7d, -1px -1px 1px white;
			font-size: 1.2em;
			background: rgba(0,0,0,0.84);
			border-radius: 23px;
			padding: 1.3em;
			box-shadow: inset 1px 1px 12px -8px white, inset -1px -1px 12px -8px white;
		}
	}
}

#projects-bckgnd {
	@include mQ(1030px){	
		background: url(../andromeda_cut2.jpg);
		/*box-shadow: inset 0px 6px 14px -10px white, inset 0px 1px 0px 0px rgba(255,255,255,0.1);*/
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.flex-projects{
	width: 100%;
	div{
		box-sizing: border-box;
		padding:.25em;
		margin: 0 auto;
		@include mQ(900px,550px){
			max-width: 500px;
		}
		@include mQ(901px){
			margin: 0 auto;
			max-width: 70%;
		}
		@include mQ(1250px){
			max-width: 44%;
			flex: 45%;
		}
		@include mQ(1530px){
			/*max-width: 84%;*/
		}
	}
	@include mQ(1250px){
		flex-wrap: wrap;
		display: flex;
		justify-context: space-evenly;
	}
	@include mQ(1530px){
		font-size: 1.2em;
	}
	@media screen and (max-width:901px){
		display: initial;
		p{
			display: block;
			margin-bottom: 1.5em;
		}
	}
}

video{
	max-width: 100%;
	max-height: 75vh;
	margin: 1em 0;
	/*border-radius: 25px 25px 0 0;*/
	border: gray 2px solid;
}

#demo{
	text-decoration: none;
	color: blue;
}

/*Footer Styles*/
.footer{
	text-align: center;
	background-color: #dcdcdc;
	border-radius: 15px 15px 0 0;
	width: 100%;
}

.contact-links{
	max-width: 50%;
    margin: 0 auto;
    @include mQ(500px){
    	max-width: 35%;
    }
    @include mQ(900px){
    	max-width: 30%
    }
	ul{
		@include clearFix;
	}
	li{
		@include grid(4, 2%);
		display:inline-block;
		padding: 1em 0;
		a{
			text-decoration: none;
			color:black;
		}
		img{
			height: 7vw;
			@include mQ(500px){
				height: 5vw;
			}
			@include mQ(900px){
				height: 3vw;
			}
		}
	}
}

.copyright{
	color: lavenderblush;
	font-family: helvetica;
	padding: 0 .5em 1em .5em;
}

#resume-github-gap {
	padding: 0.7em;
}

@media only screen and (min-width: 1030px) {
  #projects #resume-github-p {
	background: none !important;
	box-shadow: none !important;
	a {
		/*background: rgba(0, 0, 0, 0.8);*/
		padding: 0.2em 0.6em 0.3em 0.6em;
		font-size: 1.15em;
		/*box-shadow: inset 1px 1px 12px -8px white, inset -1px -1px 12px -8px white;*/
	}
  }
  #projects h1, #projects h1 h1{
        color: white;
	text-align: center;
	font-weight: 800;
	padding-top: 2.55em;
	margin-bottom: 0;
	letter-spacing: 0.2em;
	font-size: 2.3em;
  }
  #projects a {   
	border-radius: 10px;
	color: #345eff;
	font-size: 1.0em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #040072, -1px 1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px black;
	&:hover {
		color: white;
	}
  }
}

